{:port 3000
 ;:public-url "http://localhost:3000/"
 :public-url "https://{{ env.Getenv "REMS_DOMAIN" }}/"
 :database-url "postgresql://db:5432/rems?user=rems&password=remspassword"
 :search-index-path "/tmp/rems-search-index"
 :authentication :oidc
 ;:oidc-metadata-url "https://login.aai.lifescience-ri.eu/oidc/.well-known/openid-configuration"
 ;:oidc-metadata-url "https://kc.portal.gdi.biodata.pt/oidc/.well-known/openid-configuration"
 ;:oidc-metadata-url "https://{{ env.Getenv "AAI_DOMAIN"}}/oidc/.well-known/openid-configuration"
 
 {{/*
      Check if AAI is mock (i.e., local). If it is, we need to use the container DNS and HTTP
      since using the public MOCK URL depends on having nginx working and nginx already depends
      on REMS 
 */}}
 {{- $isMockAAI := eq (env.Getenv "AAI_DOMAIN") (env.Getenv "MOCK_AAI_DOMAIN") -}}
 {{- if $isMockAAI -}}
 :oidc-metadata-url "http://aai-mock:8080/oidc/.well-known/openid-configuration"
 {{ else }}
 :oidc-metadata-url "https://{{ env.Getenv "AAI_DOMAIN" }}/oidc/.well-known/openid-configuration"
 {{ end}}

 ;:oidc-client-id "adele-demo-rems"
 :oidc-client-id "{{ env.Getenv "REMS_CLIENT_ID" }}"
 ;:oidc-client-secret "adele-demo-rems-password"
 :oidc-client-secret "{{ env.Getenv "REMS_CLIENT_SECRET" }}"
 :oidc-scopes "openid profile email"
 :oidc-userid-attributes [{:attribute "sub"}]
 :oidc-name-attributes ["name" "unique_name" "family_name"]
 :oidc-email-attributes ["email"]
 :log-authentication-details true
 :languages [:en]
 :catalogue-is-public true
 :ga4gh-visa-private-key "/rems/keys/private-key.jwk"
 :ga4gh-visa-public-key "/rems/keys/public-key.jwk"
 :enable-permissions-api true

 :enable-pdf-api true
 :enable-catalogue-tree true
 :catalogue-tree-show-matching-parents true
 :enable-autosave true
 :extra-stylesheets {:root "./" :files ["/theme/styles.css"]}
 :theme-path "/rems/theme/theme.edn"
 :extra-pages-path "/rems/extra-pages"
}
