# owner credentials
export REMS_OWNER="" # user id of the owner user
export OWNER_KEY="" # API KEY TO BE USED BY THE OWNER
# reporter bot
export REPORTER_USER="report-robot"  # optional
export REPORTER_KEY="" # API KEY FOR REPORTER USER
# organization owner bot
export ORG_OWNER_USER="org-owner-robot" # optional
export ORG_OWNER_KEY="" # API KEY FOR ORG OWNER"

