# ---- DOMAINS ----
MOCK_AAI_DOMAIN=mockaai.tre-test.biodata.pt
REMS_DOMAIN=rems.tre-test.biodata.pt
FDP_DOMAIN=fdp.tre-test.biodata.pt
STORAGE_AUTH_DOMAIN=login.tre-test.biodata.pt
WEB_DOMAIN=website.tre-test.biodata.pt
WEB_API_DOMAIN=website-api.tre-test.biodata.pt
BACKOFFICE_DOMAIN=backoffice.tre-test.biodata.pt
BACKOFFICE_API_DOMAIN=backoffice-api.tre-test.biodata.pt

# Choose the domain to be used for AAI auth, 
# when changing to LS AAI, change to "login.aai.lifescience-ri.eu"
# For easier configuration, just comment and uncomment the lines below as needed

AAI_DOMAIN=${MOCK_AAI_DOMAIN} # Local Mock AAI
#AAI_DOMAIN=login.aai.lifescience-ri.eu # LS AAI

# ------ OIDC ------
REMS_CLIENT_ID=adele-demo-rems
REMS_CLIENT_SECRET=adele-demo-rems-password

# OIDC creds for TRE website + storage
CLIENT_ID=metadados-tre
CLIENT_SECRET=esparguete

# ------ REMS/LS AAI ------
REPORTER_USER=reporter
REPORTER_API_KEY=reporter-api-key
REMS_OWNER=owner.user@example.org       # user id of the owner
REMS_OWNER_KEY=owner-api-key
REMS_API_KEY=org-owner-key    # org owner key
REMS_USER_ID=robot-org-owner            # org owner user id

# ------ DB credentials (website + fdp) ------
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=dbpass
MONGO_INITDB_DATABASE=admin

# -------------- TRE WEBSITE + BACKOFFICE --------------

FDP_TRE_CATALOG_URI=FIX_FDP_CATALOG_LINK
#FDP_TRE_CATALOG_URI=${FDP_URI}/catalog/dff42f25-35b0-4ca2-be63-d2cd117cfa2b

# ------ MAILGUN ------
# TODO: REPLACE WITH REAL CREDENTIALS
MAILGUN_URI=https://api.mailgun.net/v3/sandbox9c29e10892be408da2611001fd406c3d.mailgun.org/messages
#MAILGUN_API_KEY=

# ------ KEYS ------
SESSION_SECRET_KEY=jagskcgsjdbclzuesgfkjzsuedfdv

# ------ SECRETS ------
CLIENT_ID=metadados-tre
CLIENT_SECRET=esparguete

FDP_ADMIN_USERNAME=albert.einstein@example.com
FDP_ADMIN_PASSWORD=password


# ###########################################################################################
# ######## INTERNAL CONFIGURATION - DO NOT CHANGE UNLESS YOU KNOW WHAT YOU ARE DOING ########
# ###########################################################################################

# ------ INTERNAL NGINX ------
CERT_NAME=tre-cert
CERT_FILE=/etc/letsencrypt/live/${CERT_NAME}/fullchain.pem
KEY_FILE=/etc/letsencrypt/live/${CERT_NAME}/privkey.pem

# --------- INTERNAL TRE Website + Backoffice ---------

# ------ INTERNAL Backoffice ------
BACKOFFICE_FRONTEND_PORT=4300   # Angular Backoffice Frontend
BACKOFFICE_BACKEND_PORT=8081    # Flask Backoffice Backend
BACKOFFICE_FRONTEND_URL=http://adele-backoffice-frontend:${BACKOFFICE_FRONTEND_PORT}
BACKOFFICE_BACKEND_URL=http://adele-backoffice-backend:${BACKOFFICE_BACKEND_PORT}
BACKOFFICE_BACKEND_URL_PUBLIC=https://${BACKOFFICE_API_DOMAIN}
BACKOFFICE_FRONTEND_URL_PUBLIC=https://${BACKOFFICE_DOMAIN}

# ------ INTERNAL Website ------
WEBSITE_FRONTEND_PORT=4200      # Angular Website Frontend
WEBSITE_BACKEND_PORT=8080       # Flask Website Backend
WEBSITE_FRONTEND_URL=http://adele-website-frontend:${WEBSITE_FRONTEND_PORT}
WEBSITE_BACKEND_URL=http://adele-website-backend:${WEBSITE_BACKEND_PORT}
WEBSITE_BACKEND_URL_PUBLIC=https://${WEB_API_DOMAIN}
WEBSITE_FRONTEND_URL_PUBLIC=https://${WEB_DOMAIN}

# MongoDB
MONGODB_PORT=27017
#MONGO_URI=mongodb://mongodb:27017/
MONGO_URI=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongodb:27017/?authSource=${MONGO_INITDB_DATABASE}

# --------- INTERNAL GDI CORE CONNECTION ---------
#  MinIO (Storage)
#MINIO_ENDPOINT=localhost:${MINIO_PORT}
MINIO_ENDPOINT=s3:9000
MINIO_ACCESS_KEY=access
MINIO_SECRET_KEY=secretkey

# Funnel
#FUNNEL_URI=http://localhost:${FUNNEL_PORT}/v1/tasks
FUNNEL_URI=http://funnel:8010/v1/tasks

# SI API
#SI_API_URI=http://sda-api:5100/sda
SI_API_URI=http://sda-api:5100/sda

# REMS
#REMS_API=https://rems.adele.inesc-id.pt/api
REMS_API=https://${REMS_DOMAIN}/api

# FDP
#FDP_URI=http://localhost:8667
#FDP_URI=https://fdp.adele.inesc-id.pt
FDP_URI=https://${FDP_DOMAIN}

# S3 Download
DOWNLOAD_S3=http://download:8443/
#DOWNLOAD_S3=https://download.adele.inesc-id.pt

# --------- INTERNAL OIDC ---------
# OIDC / Auth
#REDIRECT_URI=http://localhost:${WEBSITE_BACKEND_PORT}/oidc-callback
REDIRECT_URI=${WEBSITE_BACKEND_URL_PUBLIC}/oidc-callback
#LOGIN_URI=https://kc.portal.gdi.biodata.pt/oidc/auth/authorize
LOGIN_URI=https://${AAI_DOMAIN}/oidc/auth/authorize
#AUTHORIZATION_URI=https://kc.portal.gdi.biodata.pt/oidc/token
AUTHORIZATION_URI=https://${AAI_DOMAIN}/oidc/token
#USER_INFO_URI=https://kc.portal.gdi.biodata.pt/oidc/userinfo
USER_INFO_URI=https://${AAI_DOMAIN}/oidc/userinfo


# ##############################################################
# -- INTERNAL GDI CORE STORAGE (non-related to TRE websites) --
# ##############################################################

# localtion for configuration files
ISS_FILEPATH=./config/iss.json
CONFIG_FILEPATH=./config/config.yaml

# OIDC config
OIDC_CONFIGURATION_URL="https://${AAI_DOMAIN}/oidc/.well-known/openid-configuration"
OIDC_PROVIDER="https://${AAI_DOMAIN}/oidc/"
# You need to change this to match your domain!
OIDC_REDIRECTURL="https://${AAI_DOMAIN}/oidc/login" 
# OIDC_CLIENT_ID="adele-demo-si"
# OIDC_CLIENT_SECRET="adele-demo-si-password"

# credentials must be the same as the ones in the website, otherwise the website
# won't be able to authenticate with the storage API and access and upload the data
OIDC_CLIENT_ID="${CLIENT_ID}"
OIDC_CLIENT_SECRET="${CLIENT_SECRET}"

SERVER_JWTPUBKEYURL="https://${AAI_DOMAIN}/oidc/jwk"

### services ###

# credentials
credentials_PGPASSWORD=rootpass

# auth
auth_ELIXIR_ID=$OIDC_CLIENT_ID
auth_ELIXIR_SECRET=$OIDC_CLIENT_SECRET

# rabbitmq
rabbitmq_MQ_PASSWORD=test
rabbitmq_MQ_USER=test

# postgres
postgres_POSTGRES_PASSWORD=rootpass

# s3
s3_MINIO_ROOT_USER=access
s3_MINIO_ROOT_PASSWORD=secretkey
s3_MINIO_SERVER_URL=http://127.0.0.1:9000

# data ingest pipeline #

# download
download_DB_PASSWORD=download
download_DB_USER=download

# finalize
finalize_BROKER_PASSWORD=finalize
finalize_BROKER_QUEUE=accession
finalize_BROKER_ROUTINGKEY=completed
finalize_BROKER_USER=finalize
finalize_DB_PASSWORD=finalize
finalize_DB_USER=finalize

# ingest
ingest_BROKER_PASSWORD=ingest
ingest_BROKER_QUEUE=ingest
ingest_BROKER_ROUTINGKEY=archived
ingest_BROKER_USER=ingest
ingest_DB_PASSWORD=ingest
ingest_DB_USER=ingest
ingest_SCHEMA_TYPE=federated

# mapper
mapper_BROKER_PASSWORD=mapper
mapper_BROKER_QUEUE=mappings
mapper_BROKER_USER=mapper
mapper_DB_PASSWORD=mapper
mapper_DB_USER=mapper

# verify
verify_BROKER_PASSWORD=verify
verify_BROKER_QUEUE=archived
verify_BROKER_ROUTINGKEY=verified
verify_BROKER_USER=verify
verify_DB_PASSWORD=verify
verify_DB_USER=verify
verify_SCHEMA_TYPE=federated

# s3inbox
inbox_BROKER_PASSWORD=inbox
inbox_BROKER_ROUTINGKEY=inbox
inbox_BROKER_USER=inbox
inbox_DB_PASSWORD=inbox
inbox_DB_USER=inbox
