[submodule "gdi-core/ADELE-Funnel"]
	path = gdi-core/funnel-sk
	url = https://gitlab.inesc-id.pt/tre/adele-funnel
[submodule "gdi-core/rems"]
	path = gdi-core/rems
	url = https://gitlab.inesc-id.pt/tre/adele-rems
[submodule "gdi-core/storage-interfaces"]
	path = gdi-core/storage
	url = https://gitlab.inesc-id.pt/tre/adele-s-i
[submodule "ADELE"]
	path = ADELE
	url = https://gitlab.inesc-id.pt/tre/adele
